body {
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 22px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;

    width: 718px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

.container {
   max-width: 718px;
   margin: auto;
}

.avatar {
    border-radius: 28px;
    width: 718px;
    box-shadow: 4px 4px 10px rgb(44, 44, 44);
    margin-left: auto;
    margin-right: auto;
}

.info {
    margin-bottom: 20px;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.list {
    padding: 0 20px;
    list-style: none;

}

.list li {
    color: #86898f;
    margin-bottom: 10px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}

.bg-blue {
    background: #D9FFF2;
}

h1 {
    text-align: center;
}

h6 {
    text-align: right;
}

